header {
	div {
		padding-top: 50px;
		h2 {
			font: 50px/58px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0;
		}
	}

	h3 {font: 30px/38px 'StMarieThin', Arial, sans-serif;letter-spacing: 0;}
}