h3 {font: 18px/18px 'StMarieThin', Arial, sans-serif;letter-spacing: 0;}

header {
	h2 {
		padding-top: 50px;
		font: 50px/58px 'LeagueGothicRegular', Arial, sans-serif;letter-spacing: 0;
	}
	div.container-fluid {
		div.row-fluid {
			padding-top: 20px;
			div.span3 {
				a {
					text-decoration: none;
				}
			}
		}
	}
}