{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>

<div class="fullscreen" id="mainheader">

</div>

<script>
	$(document).ready(function() {
    // animate main box when loading the page
    $('#mainheader').css({'opacity':1.0}).animate({'opacity':0.0},3000,'easieEaseIn');
    
    // setup interaction on the web page (and set the initial easing)
    setupInteraction('easieEaseInOut');
  });
</script>

<header>
  <center><h2>NOTHING SATISFIES.</h2></center>
</header>



</body>
</html>
